/*
	#####################################################################################################################################################################
	Header
	#####################################################################################################################################################################
*/
div#header {
	margin: 40px auto;
}

.title {
	border-bottom: 2px solid #ccc;
	overflow: hidden;
	max-width: 500px;
    margin: 40px auto;
}

.title--sub-title {
	font-size: 70%;
	color: #999;
	width: 100%;
	float: right;
	margin-top: 0px;
	line-height: 0.8;
}

/*
	#####################################################################################################################################################################
	container (carousel and navbar)
	#####################################################################################################################################################################
*/

.container {
	width: 100%
}

/*
	#####################################################################################################################################################################
	carousel
	#####################################################################################################################################################################
*/

.fluid_container {
	margin: 0 auto;
	max-width: 1500px;
	width: 90%;

	a {
		color: #09f;
	}
	a:hover {
		text-decoration: none;
	}
}

/*
	#####################################################################################################################################################################
	navbar
	#####################################################################################################################################################################
*/

.navbar-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  z-index: 5;
  width: inherit;
}

.navbar-container ul {
  list-style: none;
  padding: 0;
}

.navbar-container li {
  display: inline-block;
  padding: 0 35px;
  background-color: #fff;
  opacity: 0.5;
  border-top-style: none;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  box-shadow: -2.5px -1.5px 5px #888888;
}

.navbar-container span {
  position: relative;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: bold;
}

.navbar-container span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.navbar-container span:before {
  left: -2.5px;
}
.navbar-container span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-container span:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-container span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/*
	#####################################################################################################################################################################
	Menu
	#####################################################################################################################################################################
*/

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
	border: 3px solid #0d3532;
	border-radius: 3px;
	line-height: 1;
	background: #f7f7f7;
	box-shadow: 1px 1px 0 #051514, 2px 2px 0 #051514, 3px 3px 3px rgba(0, 0, 0, 0.35);
  	margin: 0 auto 40px auto;
	max-width: 900px;
	width: 90%;
}
#cssmenu > ul {
  background: url('../images/menu/bg.png');
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 20px 25px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0d3532;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #444444;
}
#cssmenu #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: #0d3532;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu.small-screen {
  width: 80%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 80%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center > ul > li {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li > a {
  padding: 18px 25px;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 18px 25px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0d3532;
  background: url('../images/menu/bg.png');
}
#cssmenu.small-screen #menu-button.menu-opened {
  color: #444444;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 19.5px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #0d3532;
  border-bottom: 2px solid #0d3532;
  width: 18px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 29.5px;
  display: block;
  width: 18px;
  height: 2px;
  background: #0d3532;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #444444;
}
#cssmenu.small-screen #menu-indicator {
  display: none;
}
