{% extends 'webapp/base.html' %} 
{% load staticfiles %} 

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/forms.css' %}" /> 
{% endblock header %} 

{% block content %}
<div class="passwordreset">
    <form method="post">
    	<h3>Wachtwoord vergeten?</h3>
        <h5>Geef hieronder je e-mailadres. Via mail ontvangt u instructies voor het instellen van een nieuw wachtwoord.</h5>
        {% csrf_token %}
        {{ form.email.errors }}
        <p>
            <label for="id_email">Email address: </label> {{ form.email }}
            <input type="submit" value="Versturen" />
            <p><a href="/login">Login</a> - <a href="/register">Registreer</a></p>
        </p>
    </form>
</div>
{% endblock %}
