{% extends 'webapp/base.html' %} 
{% load staticfiles %} 

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/forms.css' %}" /> 
{% endblock header %} 

{% block content %}
<div class="passwordreset">
    <form method="post">
    	<h4>Wachtwoord vergeten?</h4>
        <h6>Geef hieronder je e-mailadres. Via mail ontvangt u instructies voor het instellen van een nieuw wachtwoord.</h6>
        {% csrf_token %}
        {{ form.email.errors }}
        <p>
            <label for="id_email">Email address: </label> {{ form.email }}
            <input type="submit" value="Versturen" />
            <p><a href="">Login</a> - <a href="">Registreer</a></p>
			<p></p>
        </p>
    </form>
</div>
{% endblock %}
