{% extends 'webapp/base.html' %} 
{% load staticfiles %} 

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/forms.css' %}" /> 
{% endblock header %} 

{% block content %}
<div class="forms">
<div class="passwordresetsent">
    <h3>Instructies verstuurd</h3>
    <h4>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h4>
    <h4>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</h4>
    <a href="/" class="buttonpasswordreset">Startpagina</a>
</div>
</div>
{% endblock %}
