{% load staticfiles %}
<html>
<style>
body {
  background-color: #bad5ce;
  text-align: center;
  font-family: 'Ropa Sans', sans-serif;
}
img {
  width: 150px;
}
/*.emailtekst {
  margin: -30px;
}*/

</style>
<body>

  <!-- <img src = "{% static 'webapp/images/def logos via sofie - RGB-01.png' %}"></img>-->
  <div class="emailtekst">
    <h2>
      Bevestiging registratie
    </h2>
    <p>
      Beste <b>{{voornaam}} {{naam}}</b><br/><br/>
      Uw account is hierbij bevestigd. Bedankt voor uw interesse in Via Sofie.<br/><br/>
      Gelieve uw account te activeren door op volgende link te klikken: <a href="{{activation_link}}">{{activation_link}}</a>
      <br/><br/><br/>
      Met vriendelijke groeten<br/>
      Sofie Andriesen - Via Sofie
    </p>
  </div>
  <div>
    <br/><br/>
    <p style="font-size: small;color: #e8e8e8;">
      &copy; Via Sofie. Ve&#769;rdergaan in vastgoed.
    </p>
    <br/>
  </div>

</body>
</html>