{% extends 'webapp/base.html' %} {% load inplace_edit %} {% load staticfiles %} {% block header %} {% inplace_toolbar %}
{% endblock header %}

{% block content %}
<div class="about">
	<div class="about-head">
		<div class="container">
			<h3>{% inplace_edit "dabout.titel|safe" %}</h3>
				<div class="about-in">
					<img src="{% static 'webapp/images/Sofie.jpg' %}" alt="image" class="img-responsive "></a>
					{% inplace_edit "dabout.data|safe" %}
				</div>
		</div>
	</div>

{% endblock content %}
