{% extends 'webapp/base.html' %} {% load inplace_edit %} {% load staticfiles %} {% block header %} {% inplace_toolbar %}

<link rel="stylesheet" href="{% static 'webapp/css/about.css' %}" type="text/css" media="screen" />

{% endblock header %}

{% block content %}
<!--<div class="about">
	<div class="about-head">
		<div class="container">
			<h3>{% inplace_edit "dabout.titel|safe" %}</h3>
				<div class="about-in">
					<img src="{% static 'webapp/images/Sofie.jpg' %}" alt="image" class="img-responsive "></a>
					{% inplace_edit "dabout.data|safe" %}
				</div>
		</div>
	</div>-->

<div class="cards">
	
	<div class="contact">Neem contact op</div>
	 <div class="card active" id="overview">
		<a class="card-toggle"><i class="fa fa-arrow-circle-left"></i></a>
		<div class="card-content">
			<div class="row">
				<div class="left col">
					<h2>Sofie Andriesen <strong>Vastgoedmakelaar</strong></h2>
					
					<p>Esse id labore quis adipisicing ullamco aliquip dolore. Exercitation ad officia laboris velit. Et elit et deserunt minim minim anim fugiat dolor culpa ut. Magna magna dolor elit dolore sunt nulla magna nisi culpa voluptate sit incididunt eu. Exercitation occaecat consequat aliqua esse reprehenderit voluptate ut magna duis qui exercitation. Ea sint consequat eiusmod ea culpa quis esse veniam minim eu..</p>
					
				</div>
				<div class="right col">
				</div>
			</div>
		</div>
	</div> 
	

	<div class="card" id="dribbble">
		<a class="card-toggle"><i><span class="fa fa-facebook"></span></i></a>
	</div> 
	
	<div class="card" id="behance">
		<a class="card-toggle"><i><span class="fa fa-twitter"></span></i></a>
	</div>
	<div class="card" id="linkedin">
		<a class="card-toggle"><i><span class="fa fa-linkedin"></span></i></a>
	</div>
	<div class="card" id="twitter">
		<a class="card-toggle"><i><span class="fa fa-pinterest"></span></i></a>
	</div>
	
	
</div>

{% endblock content %}
