
{% load staticfiles %}
{% load  i18n %}
<html>
<head>
	<!--- Basic Page Needs
   ================================================== -->
	<meta charset="utf-8">
	<!--<title>Via Sofie</title>-->
	<meta name="viewport" content="width=device-width, initial-scale=1">



	<!-- CSS
    ================================================== -->
	<link href='https://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'webapp/bootstrap/css/bootstrap.min.css' %}">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

	<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/styles.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/header.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/mobile_search.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/flags.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/forms.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/footer.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/bootstrap-select.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/bootstrap-slider.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/bootstrap-tagsinput.css' %}" media="screen" />

	<!-- Google analytics
  ================================================== -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-78546324-1', 'auto');
	  ga('send', 'pageview');

	</script>
   <!-- Script
   ================================================== -->
	<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> -->
	<script type='text/javascript' src="{% static 'webapp/scripts/jquery.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'webapp/scripts/jquery.mobile.customized.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'webapp/scripts/jquery.easing.1.3.js' %}"></script>
	<script type='text/javascript' src="{% static 'webapp/bootstrap/js/bootstrap.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'webapp/scripts/header.js' %}"></script>
  <script type='text/javascript' src="{% static 'webapp/scripts/mobile_search.js' %}"></script>
	<script type='text/javascript' src="{% static 'webapp/scripts/responsiveslides.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'webapp/scripts/jquery.searchbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'webapp/scripts/velocity.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'webapp/scripts/bootstrap-select.js' %}"></script>
	<script type="text/javascript" src="{% static 'webapp/scripts/bootstrap-slider.js' %}"></script>
	<script type='text/javascript' src="{% static 'webapp/scripts/bootstrap-tagsinput.js' %}"></script>
	<script type='text/javascript' src="{% static 'webapp/scripts/bootstrap3-typeahead.js' %}"></script>
	<!-- enkel voor kerstmis <script type="text/javascript" src="{% static 'webapp/scripts/glitter.js' %}""></script> -->

	<!-- Cookie Monster
	================================================= -->

	<script type='text/javascript' id="cookiebanner" src="{% static 'webapp/scripts/cookiebanner.js' %}" data-message="{% trans 'We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies.' %}"></script>

   <!-- Favicons
	================================================== -->
	<link rel='shortcut icon' type='image/x-icon' href="{% static 'webapp/images/favicon.jpg' %}"/>

	<!-- Page blocks
	================================================== -->
	{% block header %}
	{% endblock header %}

</head>
<body ng-app="">
	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1007959369240278',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
	{% include "webapp/header.html" %}

    <form class="search-form-animation" id="animation-three" name="searchbtngo" method="post" action="">
      {% csrf_token %}
      <div class="form-input">
        <div class="search-icon">
          <svg width="21.423px" height="21.42px" viewBox="0 0 21.423 21.42" enable-background="new 0 0 21.423 21.42" xml:space="preserve">
            <path clip-path="url(#SVGID_2_)" d="M13.427,15.427C12.037,16.417,10.337,17,8.5,17C3.806,17,0,13.194,0,8.5
      C0,3.806,3.806,0,8.5,0C13.194,0,17,3.806,17,8.5c0,1.837-0.583,3.537-1.573,4.927l5.585,5.585c0.55,0.55,0.546,1.43,0,1.976
      l-0.023,0.024c-0.544,0.544-1.431,0.546-1.977,0L13.427,15.427z M8.5,15c3.59,0,6.5-2.91,6.5-6.5C15,4.91,12.09,2,8.5,2
      S2,4.91,2,8.5C2,12.089,4.91,15,8.5,15" />
          </svg>
        </div>

        {{ searchform.plaats_postcode_refnummer_mobile}}
      </div>
    </form>

	{% block content %}
	{% endblock content %}

	{% include "webapp/footer.html" %}
</body>
</html>
