{% extends 'webapp/base.html' %}  {% load staticfiles %} {% block header %}

<link rel="stylesheet" href="{% static 'webapp/css/blijf_op_de_hoogte.css' %}" type="text/css" media="screen" />

<title>Blijf op de hoogte | Via Sofie</title>

	<!--meta data-->
	<meta name="description" content="Via Sofie kan het verschil maken! Ontdek de voordelen van Via Sofie.">
	<meta name="keywords" content="op de hoogte, stay tuned, blijf of de hoogte, immo, immobilien, immobiliën, vastgoed, advies, vastgoedmakelaar, sofie, andriesen, via sofie, viasofie, mussenhoevenlaan, 2530, boechout, lint, kontich, antwerpen, te koop, te huur, wonen, huren, kopen, makelaar, huis, biv">
	<meta name="author" content="Sacha Van den Wyngaert">

{% endblock header %}

{% block content %}
<div class="container">
  <div class="well contact">
    <legend class="header-contact">Op de hoogte blijven van nieuwe eigendommen? Laat hier uw gegevens achter.</legend>
    <form class="form-horizontal" role="form" method="post"  id="form">
      {% csrf_token %}
      <table>
        {{ form.errors }}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.voornaam.errors }}
            {{ form.voornaam }}
        </div>
        <div class="fieldWrapper">
            {{ form.naam.errors }}
            {{ form.naam }}
        </div>
        <div class="fieldWrapper">
            {{ form.email.errors }}
            {{ form.email }}
        </div>
        <div class="fieldWrapper">
            {{ form.telefoonnummer.errors }}
            {{ form.telefoonnummer }}
        </div>
        <div class="fieldWrapper">
            {{ form.straatnaam.errors }}
            {{ form.straatnaam }}
        </div>
        <div class="fieldWrapper">
            {{ form.huisnr.errors }}
            {{ form.huisnr }}
        </div>
        <div class="fieldWrapper">
            {{ form.plaats.errors }}
            {{ form.plaats }}
        </div>
        <div class="fieldWrapper">
            {{ form.postcode.errors }}
            {{ form.postcode }}
        </div>
        <div class="fieldWrapper">
            {{ form.min_prijs.errors }}
            {{ form.min_prijs }}
        </div>
        <div class="fieldWrapper">
            {{ form.max_prijs.errors }}
            {{ form.max_prijs }}
        </div>
      </table>
      <fieldset class="button-submit">
        <button type="submit" value="Submit" id="btn-submit">Houd me op de hoogte!</button>
      </fieldset>
      </form>
  </div>
</div><!-- /.container -->
{% endblock content %}
