{% extends 'webapp/base.html' %}  {% load staticfiles %} {% block header %} 

{% endblock header %}

{% block content %}
<div class="privacy">
	<div class="container">
		<h3>Disclaimer</h3>
		<p><p>Via Sofie besteedt veel aandacht en zorg aan haar website en streeft ernaar dat alle informatie zo volledig, juist, begrijpelijk, nauwkeurig en actueel mogelijk is. Ondanks alle inspanningen is het niet uitgesloten dat de ter beschikking gestelde informatie steeds volledig, juist, nauwkeurig of bijgewerkt is. In het geval dat links tot stand worden gebracht met andere sites, bijvoorbeeld met behulp van zoekinstrumenten, is Via Sofie niet aansprakelijk voor de inhoud en het bestaan van deze andere sites.</p>
<p>Als de informatie op de website van Via Sofie tekortkomingen vertoont, zal er naar worden gestreefd om al het mogelijke doen om deze zo snel mogelijk weg te werken. Als je onjuistheden vaststelt, kan je contact opnemen met de beheerder van de website: <a href="/contact">hello@viasofie.be</a>.</p>
<p>Via Sofie kan niet aansprakelijk worden gesteld voor rechtstreekse of onrechtstreekse schade die ontstaat door het gebruik van de website of van de op of via de website ter beschikking gestelde informatie. Ongeautoriseerd of oneigenlijk gebruik van de content of delen daarvan maken inbreuk op intellectuele rechten. </p></p>
	</div>
</div>
{% endblock content %}
