{% extends 'webapp/base.html' %}
{% load staticfiles %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/forms.css' %}" />


	<title>Ebook | Via Sofie</title>

	<!--meta data-->
	<meta name="description" content="Geïnteresseerd in een Ebook van Via Sofie? Schrijf je hier in!">
	<meta name="keywords" content="ebook, e-book, contact, contacteren, telefoonnummer, email, address, adres, immo, immobilien, immobiliën, vastgoed, advies, vastgoedmakelaar, sofie, andriesen, via sofie, viasofie, mussenhoevenlaan, 2530, boechout, lint, kontich, antwerpen, te koop, te huur, wonen, huren, kopen, makelaar, huis, biv">
	<meta name="author" content="Sacha Van den Wyngaert">
{% endblock header %}

{% block content %}
<div class="forms">
<div class="ebookform">
	<form method="post" action="">
		<h3>E-book</h3>
		<h5>Geef hier volgende gegevens in, zo kan Via Sofie u persoonlijk een e-book toesturen.</h5>
		{% csrf_token %}
		<table>
			{{form}}
		</table>
		<input type="submit" value="Verzenden"/>
	</form>
</div>
</div>
{% endblock content %}