{% load staticfiles %}
<div class="footer">
    <div class="container">
        <div class="footer-top-at">
            <div class="col-md-6 amet-sed">
                <h4>IMMO VIA SOFIE</h4>
                <ul class="nav-bottom">
                    <li>Mussenhoevenlaan 101</li>
                    <li>2530 Boechout</li>
                    <li>Tel. +32 (0)483 71 37 10</li>
                    <li>Openingsuren: contacteer mij voor een afspraak</li>
                    <li>Onderworpen aan de controle van het Beroepsinstituut voor Vastgoedmakelaars</li>
                    <li>Erkend vastgoedmakelaar:</li>
                        <li>&emsp;Sofie Andriesen</li>
                        <li>&emsp;BIV 509141</li>
                        <li>&emsp;Ondernemingsnummer: 0541.508.141</li>   
                </ul>   
            </div>
            <div class="col-md-3 amet-sed">
                <h4>Customer Support</h4>
                <ul class="nav-bottom">
                    <li><a href="">Vastgoed & Advies</a></li
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="faqs.html">Privacybeleid</a></li>
                </ul>   
            </div>
            <div class="col-md-3 amet-sed">
                <h4>Navigatie</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Over</a></li>
                        <li><a href="#">Kopen</a></li>
                        <li><a href="#">Huren</a></li> 
                        <li><a href="#">Advies</a></li> 
                        <li><a href="#">Referenties</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>   
            </div>
        <div class="clearfix"> </div>
        <div class=social-buttons>
        <div class="nav-bottom set rounded fg-inflate fg-tilt fg-shadow">
                    <a href="##" class="social facebook">Facebook</a>
                    <a href="##" class="social twitter">Twitter</a>
                    <a href="##" class="social pinterest">Pinterest</a>
                    <a href="##" class="social linked-in">LinkedIn</a>
                </div>
        </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="col-md-4 footer-logo">
                <h2><a href="/">Via Sofie</a></h2>
            </div>
            <div class="col-md-8 footer-class">
                <p>2016 © Via Sofie</p>
            </div>
        <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- Oude footer
<footer class="footer">
    <div class="container footer-top">
        <div class="row row-centered">
            <div class="col-xs-12 col-sm-6 col-lg-8">
                <ul class="menu-list">
                    <li><a href="">Home</a></li>
                    <li><a href="">Over</a></li>
                    <li><a href="">Partners</a></li>
                    <li><a href="">Account</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-lg-4">
                <div class="set rounded fg-inflate fg-tilt fg-shadow">
                    <a href="##" class="social facebook">Facebook</a>
                    <a href="##" class="social twitter">Twitter</a>
                    <a href="##" class="social pinterest">Pinterest</a>
                    <a href="##" class="social linked-in">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <ul class="footer-list">
            <li><a href="">Vastgoed & advies</a></li>
            <li><a href="">Disclaimer</a></li>
            <li><a href="">Privacybeleid</a></li>
            <li>2016 © ViaSofie</li>
        </ul>
    </div>
</footer>
<button id="invisbutton" class="invisbutton"></button>
<div id="cookie" class="cookie">   
    <img src="{% static 'webapp/images/CookieMonster.gif' %}" />
</div>
-->