{% load staticfiles %}
<div class="footer">
    <div class="container">
        <div class="footer-top-at">
            <div class="col-md-3 amet-sed">
                <h4>Our Company</h4>
                <ul class="nav-bottom">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="blog.html">For Sale By Owner Blog</a></li>
                    <li><a href="mobile_app.html">Mobile</a></li>
                    <li><a href="terms.html">Terms & Conditions</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>  
                    <li><a href="blog.html">Blog</a></li>
                    
                </ul>   
            </div>
            <div class="col-md-3 amet-sed ">
                <h4>Work With Us</h4>
                    <ul class="nav-bottom">
                        <li><a href="single.html">Real Estate Brokers</a></li>
                        <li><a href="single.html">Business Development</a></li>
                        <li><a href="single.html">Affiliate Programs</a></li>
                        <li><a href="contact.html">Sitemap</a></li>
                        <li><a href="career.html">Careers</a></li>
                        <li><a href="feedback.html">Feedback</a></li>   
                    </ul>   
            </div>
            <div class="col-md-3 amet-sed">
                <h4>Customer Support</h4>
                <p>Mon-Fri, 7AM-7PM </p>
                <p>Sat-Sun, 8AM-5PM </p>
                <p>177-869-6559</p>
                    <ul class="nav-bottom">
                        <li><a href="#">Live Chat</a></li>
                        <li><a href="faqs.html">Frequently Asked Questions</a></li>
                        <li><a href="suggestion.html">Make a Suggestion</a></li>
                    </ul>   
            </div>
            <div class="col-md-3 amet-sed ">
                <h4>Property Services</h4>
                   <ul class="nav-bottom">
                        <li><a href="single.html">Residential Property</a></li>
                        <li><a href="single.html">Commercial Property</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="typo.html">Short Codes</a></li>    
                    </ul>   
                    <ul class="social">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i class="gmail"> </i></a></li>
                        <li><a href="#"><i class="twitter"> </i></a></li>
                        <li><a href="#"><i class="camera"> </i></a></li>
                        <li><a href="#"><i class="dribble"> </i></a></li>
                    </ul>
            </div>
        <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="col-md-4 footer-logo">
                <h2><a href="/">Via Sofie</a></h2>
            </div>
            <div class="col-md-8 footer-class">
                <p>2016 © Via Sofie</p>
            </div>
        <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- Oude footer
<footer class="footer">
    <div class="container footer-top">
        <div class="row row-centered">
            <div class="col-xs-12 col-sm-6 col-lg-8">
                <ul class="menu-list">
                    <li><a href="">Home</a></li>
                    <li><a href="">Over</a></li>
                    <li><a href="">Partners</a></li>
                    <li><a href="">Account</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-lg-4">
                <div class="set rounded fg-inflate fg-tilt fg-shadow">
                    <a href="##" class="social facebook">Facebook</a>
                    <a href="##" class="social twitter">Twitter</a>
                    <a href="##" class="social pinterest">Pinterest</a>
                    <a href="##" class="social linked-in">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <ul class="footer-list">
            <li><a href="">Vastgoed & advies</a></li>
            <li><a href="">Disclaimer</a></li>
            <li><a href="">Privacybeleid</a></li>
            <li>2016 © ViaSofie</li>
        </ul>
    </div>
</footer>
<button id="invisbutton" class="invisbutton"></button>
<div id="cookie" class="cookie">   
    <img src="{% static 'webapp/images/CookieMonster.gif' %}" />
</div>
-->