<footer class="footer">
    <div class="container footer-top">
        <div class="row">
            <div class="col-xs-6">
                <ul class="menu-list">
                    <li><a href="">Home</a></li>
                    <li><a href="">Over</a></li>
                    <li><a href="">Partners</a></li>
                    <li><a href="">Account</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-6">
                <div class="set rounded fg-inflate fg-tilt fg-shadow">
                    <a href="##" class="social facebook">Facebook</a>
                    <a href="##" class="social twitter">Twitter</a>
                    <a href="##" class="social pinterest">Pinterest</a>
                    <a href="##" class="social linked-in">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <ul class="footer-list">
                <li><a href="">Vastgoed & advies</a></li>
                <li><a href="">Disclaimer</a></li>
                <li><a href="">Privacybeleid</a></li>
                <li>2016 © ViaSofie</li>
            </ul>
        </div>
    </div>
</footer>
