{% load staticfiles %}
<header>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Registreren</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Aanmelden</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="header-logo" id="header-logo">
    <img class="img-responsive" src="{% static 'webapp/images/def logos via sofie - RGB-08.png' %}">
</div>
<div class="header">
    <div class="title-container">
        <h3 class="headertitle">
        <span>Via Sofie</span>
        <span class="title--sub-title">Vérdergaan in vastgoed...</span>
    </h3>
    </div>
    <div class="cssmenu-container">
        <div id='cssmenu' class="align-center">
            <ul>
                <li class='active'><a href='#'>Home</a></li>
                <li><a href='#'>Over</a></li>
                <li><a href='#'>Partners</a></li>
                <li><a href='#'>Account</a></li>
                <li><a href='#'>Contact</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

</header>
