{% extends 'webapp/base.html' %} {% load inplace_edit %} {% load staticfiles %} {% load humanize %} {% block header %} {% inplace_toolbar %}

<link rel="stylesheet" href="{% static 'webapp/css/index.css' %}" type="text/css" media="screen" />

<!--Partners slider-->
<script type='text/javascript' src="{% static 'webapp/scripts/index.js' %}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.js'></script>
<!--End of Partners slider-->

<title>Via Sofie | Vastgoed en Advies</title>

<!--meta data-->
<meta name="description" content="ViaSofie - Vastgoed en Advies  |  Kopen? Huren? Professioneel advies bij het kopen en verkopen van vastgoed.">
<meta name="keywords" content="immo, immobilien, immobiliën, vastgoed, advies, vastgoedmakelaar, sofie, andriesen, via sofie, viasofie, mussenhoevenlaan, 2530, boechout, lint, kontich, antwerpen, te koop, te huur, wonen, huren, kopen, makelaar, huis, biv">
<meta name="author" content="Sacha Van den Wyngaert">
<!--end of meta data-->

{% endblock header %}

{% block content %}
<div id="body">
{% include "webapp/submenu.html" %}
    <div id="landing">
        <div class="svg-wrapper">
            <a id="jump" href="##">
                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="320" />
                    <div class="text">Samenwerken?</div>
                </svg>
            </a>
        </div>
    </div>
    <!--//header-bottom-->
    <!--//header-->
    <!--content-->
    <div class="content">

        <!--BOLLEN-->
        <div class="row set-same-height">

            
                  <div class="four tablet-twelve columns padding" style="height: auto;">
                    <div class="bg-white text-center same-height-child padding padding-top" style="height: 329px;">
                        <a href="/contact"><img src="{% static 'webapp/images/home/house_circle_wicon.jpg' %}" width="200" height="200" alt="" class="round"></a>
                        <h3 class="medium">Graag een waardebepaling?</h3>
                        <p>Mail naar <a href="mailto:hello@viasofie.be" style="color: #0d3532; font-style: italic;">hello@viasofie.be</a> of neem contact op via de <a href="/contact" style="color: #0d3532; font-style: italic;">contact pagina</a>.</p>
                    </div>
                </div>

                <div class="four tablet-twelve columns padding" style="height: auto;">
                    <div class="bg-white text-center same-height-child padding padding-top" style="height: 329px;">
                        <a href="/vastgoedmakelaar"><img src="{% static 'webapp/images/home/email_circle_wicon.jpg' %}" width="200" height="200" alt="" class="round"></a>
                        <h3 class="medium">Blijf op de hoogte!</h3>
                        <p><a href="/#" style="color: #0d3532; font-style: italic;">Schrijf je in </a>en blijf op de hoogte van nieuwe eigendommen.</p>
                    </div>
                </div>
            
                  <div class="four tablet-twelve columns padding" style="height: auto;">
                    <div class="bg-white text-center same-height-child padding padding-top" style="height: 329px;">
                        <a href="/vastgoedmakelaar"><img src="{% static 'webapp/images/home/two_users_circle_wicon.jpg' %}" width="200" height="200" alt="" class="round"></a>
                        <h3 class="medium">Waarom Via Sofie?</h3>
                        <p>Ontdek <a href="/vastgoedmakelaar" style="color: #0d3532; font-style: italic;">hier</a> de voordelen van een vatgoedmakelaar.</p>
                    </div>
                </div>
            
            
        </div>
        <!--End of BOLLEN-->
        
        <!--IN DE KIJKER-->
        <div class="content-grid">
            <div class="container">
                <h3>In de kijker</h3>
                <!--{% for uitgelicht_pand in uitgelichte_panden %}
                <div class="col-md-4 box_2" id="spotlightcard">
                    <a href="/pand/{{ uitgelicht_pand.referentienummer|cut:"-"}}" class="mask">
                        <img class="img-responsive zoom-img" id="spotlightimg" src="{{uitgelicht_pand.thumbnail_url}}" alt="">
                        <span class="four">{{uitgelicht_pand.prijs|intcomma}}</span>
                    </a>
                    <div class="most-1">
                        <h5><a href="/pand/{{ uitgelicht_pand.referentienummer|cut:"-"}}">{{uitgelicht_pand.straatnaam}}</a></h5>
                        <p>{{uitgelicht_pand.postcodeID.stadsnaam}}</p>
                    </div>
                </div>
                {% endfor %}-->
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--End of IN DE KIJKER-->
        

        <!--Bollen-->
        <!--<div class="container">
            <div class="overlay">
                <h1>TEST TITEL</h1>
                <p>Circle overlay example, sample text sample text sample text.</p>
            </div>
        </div>-->
        <!--End of Bollen-->

        <!--service-->
        <div class="services">
            <div class="container">
                <div class="service-top" id="long-service-top">
                    <h3>Samen ondersteunen we een goed doel!</h3>
                    <p>
                        Jouw pand verkocht? Via Sofie zet zich graag in voor de samenleving. Een deel van de commissie wordt weggeschonken aan organisaties die zich inzetten voor een goed doel:
                        <br>
                        <a href="http://www.moedersvoormoeders.be/" style="color: #0d3532;">Moeders voor moeders</a> en <a href="http://www.ozg.be/" style="color: #0d3532;">Ondernemers zonder grenzen</a>
                    </p>
                </div>

                <div class="services-grid">
                    <div class="tiles">
                        {% for goed_doel in goede_doelen %}
                            <a class="tile" href="{{goed_doel.link}}"><img width="225" height="350" src="{{goed_doel.foto_url}}"/>
                                <div class="details">
                                    <span class="title"></span><span class="info">Bezoek de website van {% inplace_edit "goed_doel.naam|safe" %}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--//services-->
        <!--partners-->
        <div class="content-bottom1">
            <h3>Onze Partners</h3>
            <div class="container">
                <section class="client">
                    <div class="container">
                        <div class="row">
                            <div class="carousel-client">
                                {% for partner in partner_list %}
                                    <div class="slide"><img src="{{ partner.foto_url }}"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
       </div>
        <!--//partners-->

        <!--<img src="http://placebear.com/150/300" class="side-circle-left"/>
        <img src="http://placebear.com/150/300" class="side-circle-right"/>-->
    </div>
    {% endblock content %}
