{% load i18n %}
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.code }}
            </option>
        {% endfor %}

    </select>
    <select name="url">
      <option value="webapp/templates/admin/index.html"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
          <p>webapp/templates/admin/index.html<p>
      </option>
    </select>
    <input type="submit" value="Confirm" />
</form>
<iframe src="/edit" id="iframe" scrolling= "no"  ALLOWTRANSPARENCY="true" style="overflow:hidden"> </iframe>
