{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Base Template{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/default.css" >

    <script src="{% get_static_prefix %}js/jquery-2.0.0.min.js"></script>
    <script src="{% get_static_prefix %}js/ajax.js"></script>

</head>

<body>
  {% block content %}

    <h2>Hi {{full_name}} you are now logged in!</h2>
    <p>Click <a href="/logout/">here</a> to logout.</p>

    <p>Click <a href="/profile/">here</a> to edit your profile information</p>

  {% endblock %}

</body>
</html>
