{% extends 'webapp/base.html' %}
{% load staticfiles %}

{% block header %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/forms.css' %}" /> -->

	<title>Login | Via Sofie</title>

	<!--meta data-->
	<meta name="description" content="Meld je aan op viasofie.be. Nog geen account bij Via Sofie? Registreer je hier!">
	<meta name="keywords" content="login, register, registreren, aanmelden, immo, immobilien, immobiliën, vastgoed, advies, vastgoedmakelaar, sofie, andriesen, via sofie, viasofie, mussenhoevenlaan, 2530, boechout, lint, kontich, antwerpen, te koop, te huur, wonen, huren, kopen, makelaar, huis, biv">
	<meta name="author" content="Sacha Van den Wyngaert">

{% endblock header %}

{% block content %}
<div class="forms">
<div class="login">
<form method="post" action="">
	<img class="img-responsive" src="{% static 'webapp/images/def logos via sofie - RGB-092.png' %}">
{% csrf_token %}
<table>
{{form}}
</table>
<input type="submit" value="Log in"/>
<p><a href="/resetpassword">Wachtwoord vergeten?</a></p>
<p><a href="/register">Registreer</a></p>
</form>
</div>
</div>
{% endblock content %}
