{% extends 'webapp/base.html' %}
{% load staticfiles %}

{% block header %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/forms.css' %}" /> -->
{% endblock header %}

{% block content %}
<div class="forms">
<form method="post" action="">
	<img class="img-responsive" src="{% static 'webapp/images/def logos via sofie - RGB-092.png' %}">
{% csrf_token %}
<table>
{{form}}
</table>
<input type="submit" value="Log in"/>
<p><a href="/resetpassword">Wachtwoord vergeten?</a></p>
<p><a href="/register">Registreer</a></p>
</form>
</div>
{% endblock content %}
