{% extends 'webapp/base.html' %} {% load inplace_edit %} {% load staticfiles %} {% load endless %} {% block header %} {% inplace_toolbar %}
<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/jquery-ui.css' %}" />
<script type='text/javascript' src="{% static 'webapp/scripts/jquery-ui.js' %}"></script>
<script type='text/javascript' src="{% static 'webapp/scripts/jquery.advancedsearchbox.js' %}"></script>
 {% endblock header %} {% block content %}
<!--header-bottom-->
{% include "webapp/submenu.html" %}
<!--//-->
<div class="project">
    <div class="container">
        <section class="geavanceerd-search" id="geavanceerd-search">
            <div class="geavanceerd-searchDiv">
                <div id="geavanceerd-productsearch" class="geavanceerd-search-form products active">
                    <fieldset>
                        <label for="geavanceerd-p-s" class="geavanceerd-search-form-input">Kopen</label>
                    </fieldset>
                </div>
                <label class="geavanceerd-search-form-slach">/</label>
                <div id="geavanceerd-sitesearch" class="geavanceerd-search-form products inactive">
                    <fieldset>
                        <label for="geavanceerd-p-s" class="geavanceerd-search-form-input">Huren</label>
                    </fieldset>
                </div>
            </div>
            <div class="geavanceerd-searchForm">
                <form class="geavanceerd-search-form geavanceerd-search-input-form" id="searchform" method="post" action="">
                    <fieldset>
                        {% csrf_token %}
                        <table class="geavanceerd-search-form-table">
                            {{searchform}}
                        </table>
                        <hr class="geavanceerd-searchhr">
                        <button id="geavanceerd-searchButtonOk" class="button" type="submit"><i class="fa fa-search"></i></button>
                        <!-- <div id="prijs-range-slider"></div>
                        <div id="aantal-slaapkamers-slider"></div>
                        <div id="aantal-badkamers-slider"></div>
                        <div id="aantal-verdiepen-slider"></div> -->
                    </fieldset>
                </form>
            </div>
        </section>
        <div class="clearfix"> </div>
        <!--<table>
    <tbody>
        <tr>
            <th>
                <label for="id_plaats_postcode">Plaats postcode:</label>
            </th>
            <td>
                <input class="search-form-input" id="id_plaats_postcode" name="plaats_postcode" placeholder="Zoek op plaats of postcode" type="text">
            </td>
        </tr>
        <tr>
            <th>
                <label for="id_pand_type">Pand type:</label>
            </th>
            <td>
                <input id="id_pand_type" name="pand_type" type="checkbox">
            </td>
        </tr>
        <tr>
            <th>
                <label for="aantal-slaapkamers">Aantal slaapkamers:</label>
            </th>
            <td>
                <input id="aantal-slaapkamers" name="aantal_slaapkamers" readonly="" style="border:0; color:#f6931f; font-weight:bold;" type="text">
            </td>
        </tr>
        <tr>
            <th>
                <label for="aantal-badkamers">Aantal badkamers:</label>
            </th>
            <td>
                <input id="aantal-badkamers" name="aantal_badkamers" readonly="" style="border:0; color:#f6931f; font-weight:bold;" type="text">
            </td>
        </tr>
        <tr>
            <th>
                <label for="aantal-verdiepen">Aantal verdiepen:</label>
            </th>
            <td>
                <input id="aantal-verdiepen" name="aantal_verdiepen" readonly="" style="border:0; color:#f6931f; font-weight:bold;" type="text">
            </td>
        </tr>
        <tr>
            <th>
                <label for="prijs-range">Prijs range:</label>
            </th>
            <td>
                <input id="prijs-range" name="prijs_range" readonly="" style="border:0; color:#f6931f; font-weight:bold;" type="text">
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input data-role="tagsinput" id="tags" name="tags" type="text">
            </td>
        </tr>
    </tbody>
</table> -->
        <h3>{% inplace_edit "data.titel" %}</h3> {% inplace_edit "data.data|safe" %}
        <div class="project-top"> {% include panden_item %}
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<script src="{% static 'webapp/scripts/endless-pagination.js' %}"></script>
<script>
$.endlessPaginate({
    paginateOnScroll: true,
    paginateOnScrollChunkSize: 300
});
</script>
{% endblock content %}
