{% load staticfiles %} {% load endless %}
{% paginate panden %}

    {% for pand in panden %}
    <div class="col-md-3 project-grid">
        <div class="project-grid-top">
            <a href="/pand/{{ pand.referentienummer|cut:"-"}}" class="mask"><img src="{{pand.thumbnail_url}}" class="img-responsive zoom-img" alt="" /></a>
            <div class="col-md1">
                <div class="col-md2">
                    <div class="col-md3">
                        <span class="star"> 4.5</span>
                    </div>
                    <div class="col-md4">
                        <strong>{{ pand.straatnaam }}</strong>
                        <small>50 Reviews</small>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <p>2, 3, 4 BHK Flats</p>
                <p class="cost">€ {{pand.prijs}}</p>
                <a href="/pand/{{ pand.referentienummer|cut:"-"}}" class="hvr-sweep-to-right more">See Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
     {% show_more "Toon meer panden" "Panden laden..." %}
