{% extends 'webapp/base.html' %} {% load staticfiles %} {% load endless %} {% block header %} {% endblock header %} {% block content %}
<!--header-bottom-->
{% include "webapp/submenu.html" %}
<!--//-->
<div class="project">
    <div class="container">
    <div class="price">
		<div class="price-grid">
			<div class="col-sm-4 price-top">
				<h4>City</h4>
				<select class="in-drop">
					<option>Select City</option>
					<option>Bangkok</option>
					<option>Tokyo</option>
					<option>London</option>
					<option>Paris</option>
					<option>Dhubai</option>
					<option>New Jerrsey</option>
					<option>Hongkong</option>
					<option>New York</option>
					<option>Rome</option>
					<option>Sydney</option>
					<option>Florence</option>
					<option>Istanbul</option>
					<option>Brezil</option>
					<option>Canda</option>
					<option>Malaysia</option>
					<option>Singapore</option>
					<option>Taiwan</option>
					<option>Spain</option>
					<option>More</option>
				</select>
			</div>
			<div class="col-sm-4 price-top">
				<h4>Category</h4>
				<select class="in-drop">
					<option>Select Category</option>
					<option>Apartment</option>
					<option>Independent House</option>
					<option>Row House</option>
					<option>Villa</option>
					<option>Builder Floor</option>
					<option>Farm House</option>
					<option>Penthouse</option>
				</select>
			</div>
			<div class="col-sm-4 price-top">
				<h4>Rooms</h4>
				<select class="in-drop">
					<option>No. of Bedrooms</option>
					<option>1 BHK</option>
					<option>2 BHK</option>
					<option>3 BHK</option>
					<option>4 BHK</option>
					<option>4+ BHK</option>
				</select>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="price-grid">
			<div class="col-sm-6 price-top1">
				<h4>Price Range</h4>
				<ul>
					<li>
						<select class="in-drop">
							<option>Price From</option>
							<option>0</option>
							<option>5 Lacs </option>
							<option>10 Lacs</option>
							<option>15 Lacs</option>
							<option>20 Lacs</option>
							<option>25 Lacs</option>
							<option>30 Lacs</option>
							<option>35 Lacs</option>
							<option>40 Lacs</option>
							<option>45 Lacs</option>
							<option>50 Lacs</option>
							<option>55 Lacs</option>
							<option>60 Lacs</option>
							<option>65 Lacs</option>
							<option>70 Lacs</option>
							<option>75 Lacs</option>
							<option>80 Lacs</option>
							<option>85 Lacs</option>
							<option>90 Lacs</option>
							<option>95 Lacs</option>
						</select>
					</li>
					<span>-</span>
					<li>
						<select class="in-drop">
							<option>Price To</option>
							<option>5 Lacs</option>
							<option>10 Lacs</option>
							<option>15 Lacs</option>
							<option>20 Lacs</option>
							<option>25 Lacs</option>
							<option>30 Lacs</option>
							<option>35 Lacs</option>
							<option>40 Lacs</option>
							<option>45 Lacs</option>
							<option>50 Lacs</option>
							<option>55 Lacs</option>
							<option>60 Lacs</option>
							<option>65 Lacs</option>
							<option>70 Lacs</option>
							<option>75 Lacs</option>
							<option>80 Lacs</option>
							<option>85 Lacs</option>
							<option>90 Lacs</option>
							<option>95 Lacs</option>
							<option>100 Cr</option>
						</select>
					</li>
				</ul>
			</div>
			<div class="col-sm-6 price-top1">
				<h4>Area</h4>
				<ul>
					<li>
						<select class="in-drop">
							<option>Sqmt From</option>
							<option>0</option>
							<option>500 Sq Ft</option>
							<option>1000 Sq Ft</option>
							<option>1500 Sq Ft</option>
							<option>2000 Sq Ft</option>
							<option>2500 Sq Ft</option>
							<option>3000 Sq Ft</option>
							<option>3500 Sq Ft</option>
							<option>4000 Sq Ft</option>
							<option>4500 Sq Ft</option>
						</select>
					</li>
					<span>-</span>
					<li>
						<select class="in-drop">
							<option>Sqmt To</option>
							<option>500 Sq Ft</option>
							<option>1000 Sq Ft</option>
							<option>1500 Sq Ft</option>
							<option>2000 Sq Ft</option>
							<option>2500 Sq Ft</option>
							<option>3000 Sq Ft</option>
							<option>3500 Sq Ft</option>
							<option>4000 Sq Ft</option>
							<option>4500 Sq Ft</option>
							<option>5000+ Sq Ft</option>
						</select>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
        <h3>Panden</h3>
        <div class="project-top">  {% include panden_item %}
        </div>

    <div class="clearfix"> </div>
    </div>
</div>
<script src="{% static 'webapp/scripts/endless-pagination.js' %}"></script>
<script>
$.endlessPaginate({
    paginateOnScroll: true,
    // paginateOnScrollChunkSize: 1
});
</script>
{% endblock content %}
