{% extends 'webapp/base.html' %} {% load inplace_edit %} {% load humanize %} {% load staticfiles %} {% load qr_tags %}{% block header %} {% inplace_toolbar %}
<script type='text/javascript' src="{% static 'webapp/scripts/index.js' %}"></script>
<script type='text/javascript' src="{% static 'webapp/scripts/jquery.flexslider.js' %}"></script>
<script type='text/javascript' src="{% static 'webapp/scripts/jquery.flexisel.js' %}"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>

<link rel="stylesheet" href="{% static 'webapp/css/flexslider.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'webapp/css/flexslider.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'webapp/css/gallery.css' %}" type="text/css" media="screen" />
<!--facebook meta data  -->
<meta property="og:url"                content="www.localhost:8000/pand/{{ pand.referentienummer|cut:"-"}}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Pand in {{pand.straatnaam}} te {{pand.handelstatus}} " />
<meta property="og:description"        content="{{pand.beschrijving}}" />
<meta property="og:image"              content="{{pand.thumbnail_url}}" />
<meta property="og:site_name"          content="Via Sofie"/>
<meta property="app_id"                content="1007959369240278"/>


{% endblock header %} {% block content %}
<!-- Twitter widgets -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<!-- pintrest widgets -->
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="gallery-modal-content">
                        <div class="gallery-modal-body">
                            <p>Some text in the modal.</p>
                        </div>
                    </div>
                </div>
            </div>

{% include "webapp/submenu.html" %}
<!--<div class="container">-->
    <div class="buy-single-single">
        <div class=" buying-top">
            <!--<p>{% inplace_edit "pand.straatnaam" %} - {% inplace_edit "pand.postcodeID.stadsnaam"%}</p>-->
            <!--FLexiSlider-->
            <!--<div class="flexslider">
            <div id="slider" class="flexslider">
                <ul class="slides">
                    {% for foto in fotos %}
                    <li data-thumb="/media/{{foto.docfile}}">
                        <img src="/media/{{foto.docfile}}"/>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="carousel" class="flexslider">
                <ul class="slides">
                    {% for foto in fotos %}
                    <li data-thumb="/media/{{foto.docfile}}" style="padding-left: 10px">
                        <img src="/media/{{foto.docfile}}"/>
                    </li>
                    {% endfor %}
                </ul>
            </div>-->
            
            <!--<script>

            $(window).load(function() {
              // The slider being synced must be initialized first
              $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 169,
                itemMargin: 5,
                asNavFor: '#slider'
              });

              $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: true,
                slideshow: true,
                sync: "#carousel"
              });
            });
            </script>-->
            <!-- FlexSlider -->


            <!--NEW-->

            <div class="col-sm-7 buy-sin">
                <h4>Beschrijving</h4>
                <p>{% inplace_edit "pand.beschrijving|safe" %}</p>
            </div>

            <div class="col-sm-5 buy-sin">
                <div id="gallery" class="container-fluid">
                    {% for foto in fotos %}
                        <img src="/media/{{foto.docfile}}" class="card img-responsive" id="galleryimg">
                    {% endfor %}
                </div>
            </div>

            <script>
                $(document).ready(function(){
                    $(".card").click(function(){
                    var t = $(this).attr("src");
                    $(".gallery-modal-body").html("<img src='"+t+"' class='modal-img'>");
                    $("#myModal").modal();
                    });

                    // $("video").click(function(){
                    // var v = $("video > source");
                    // var t = v.attr("src");
                    // $(".modal-body").html("<video class='model-vid' controls><source src='"+t+"' type='video/mp4'></source></video>");
                    // $("#myModal").modal();  
                    // });
                    });//EOF Document.ready
            </script>

            <!--END OF NEW-->

        </div>
        <div class="buy-sin-single">
            <div class="col-sm-5 middle-side immediate">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Oppervlakte :</td>
                            <td>{% inplace_edit "pand.oppervlakte" %}</td>
                        </tr>
                        <tr>
                            <td>Bouwjaar :</td>
                            <td>{% inplace_edit "pand.bouwjaar" %}</td>
                        </tr>
                        <tr>
                            <td>Prijs :</td>
                            <td>{% inplace_edit "pand.prijs" %}</td>
                        </tr>
                        <tr>
                          <td>Referentienummer:</td>
                          <td>{{ pand.referentienummer|cut:'-' }}</td>
                    </tbody>
                </table>

                    <input id="tags" type="text" value="{{tag_data}}" data-role="tagsinput"/>
                    <script>
                    $('#tags').tagsinput({
                      typeahead: {
                        order: "asc",
                        source: {{all_tags|safe}},
                        items: 'all'
                      },
                      freeInput: false,
                      allowDuplicates: false

                    });
                    </script>
          </div>
            <div class="clearfix"></div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <a href="/contact" class="hvr-sweep-to-right more">Contact</a>
          </div>
          <div class="col-md-6" >
            <a class="btn btn-info btn-xs" href="mailto:?subject=Pand &body={{url}}" ><span class="glyphicon glyphicon-envelope"></span> Email</a>
            <a data-pin-do="buttonBookmark" data-pin-lang="en" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/"></a>
            <div class="fb-share-button" data-href="url" data-layout="button" data-mobile-iframe="true"></div>
            <div class="twitter-share-posdiv">
              <a class="twitter-share-button" href="http://twitter.com/share?text=Pand in {{pand.straatnaam}} te {{pand.handelstatus}}.&url={{url}}&hashtags=Via Sofie">Tweet </a>
            </div>
          </div>
          <div class="col-md-3" align="right">
            {% qr_from_text url "size" %}
          </div>
        </div>
        <div class="map-buy-single">
            <h4>Locatie Info</h4>
            <div class="map-buy-single1">
                <iframe
                     src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCR6SBL79-AAn4d1-TMy0871l8JPciXncM&amp;q={{pand.postcodeID.stadsnaam}},{{pand.straatnaam}},{{pand.huisnr}}"
                     streetViewControl=true
                     width="100%"
                     height="370px"
                     style="border:0">
                </iframe>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
<!--</div>-->
<!---->
<div class="container">
    <div class="future">
        <h3>Gerelateerde Panden</h3>
        <div class="content-bottom-in">
            <ul id="flexiselDemo1">
              {% for related_pand in relatedPands %}
                <li>
                    <div class="project-fur">
                        <a href="/pand/{{ pand.referentienummer|cut:"-"}}"><img class="img-responsive" src="{{ related_pand.thumbnail_url }}" alt="" /> </a>
                        <div class="fur">
                            <div class="fur1">
                                <span class="fur-money">{% inplace_edit "pand.prijs" %}</span>
                                <h6 class="fur-name"><a href="/pand/{{ pand.referentienummer|cut:"-"}}">{% inplace_edit "pand.straatnaam" %}</a></h6>
                                <!-- <span>België</span> -->
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <script type="text/javascript">
            $(window).load(function() {
                $("#flexiselDemo1").flexisel({
                    visibleItems: 4,
                    animationSpeed: 1000,
                    autoPlay: false,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });

            });
            </script>
        </div>
    </div>
</div>
</div>
<script type='text/javascript' src="{% static 'webapp/scripts/bootstrap-tagsinput.js' %}"></script>
{% endblock content %}
