{% extends 'webapp/base.html' %}
{% load staticfiles %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="dealers">
<div class="container">
	<h3>Partners</h3>
	<div class="dealer-top">
			<div class="deal-top-top">
				<div class="col-md-3 top-deal-top">
					<div class="top-deal">
						<a href="" class="mask"><img src="/static/webapp/images/partners/immoscoop.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="">Immoscoop</a></h5>
								<p>Eventuele kleine uitleg</p>
							</div>
							<div class="top-deal2">
								<a href="" class="hvr-sweep-to-right more">Meer</a>
							</div>
						<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class="top-deal">
						<a href="" class="mask"><img src="/static/webapp/images/partners/telenet.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="">Telenet</a></h5>
								<p>Eventuele kleine uitleg</p>
							</div>
							<div class="top-deal2">
								<a href="" class="hvr-sweep-to-right more">Meer</a>
							</div>
						<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="" class="mask"><img src="/static/webapp/images/partners/google.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="">Google</a></h5>
								<p>Eventuele kleine uitleg</p>
							</div>
							<div class="top-deal2">
								<a href="single.html" class="hvr-sweep-to-right more">Meer</a>
							</div>
						<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class="top-deal">
						<a href="" class="mask"><img src="/static/webapp/images/partners/immoscoop.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="">Immoscoop</a></h5>
								<p>Eventuele kleine uitleg</p>
							</div>
							<div class="top-deal2">
								<a href="" class="hvr-sweep-to-right more">Meer</a>
							</div>
						<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			<div class="clearfix"> </div>
		</div>		
		<div class="deal-top-top">
				<div class="col-md-3 top-deal-top">
					<div class="top-deal">
						<a href="" class="mask"><img src="/static/webapp/images/partners/telenet.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="">Telenet</a></h5>
								<p>Eventuele kleine uitleg</p>
							</div>
							<div class="top-deal2">
								<a href="" class="hvr-sweep-to-right more">Meer</a>
							</div>
						<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class=" top-deal">
						<a href="" class="mask"><img src="/static/webapp/images/partners/google.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="">Google</a></h5>
								<p>Eventuele kleine uitleg</p>
							</div>
							<div class="top-deal2">
								<a href="single.html" class="hvr-sweep-to-right more">Meer</a>
							</div>
						<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class="top-deal">
						<a href="" class="mask"><img src="/static/webapp/images/partners/immoscoop.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="">Immoscoop</a></h5>
								<p>Eventuele kleine uitleg</p>
							</div>
							<div class="top-deal2">
								<a href="" class="hvr-sweep-to-right more">Meer</a>
							</div>
						<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top-deal-top">
					<div class="top-deal">
						<a href="" class="mask"><img src="/static/webapp/images/partners/telenet.jpg" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="">Telenet</a></h5>
								<p>Eventuele kleine uitleg</p>
							</div>
							<div class="top-deal2">
								<a href="" class="hvr-sweep-to-right more">Meer</a>
							</div>
						<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			<div class="clearfix"> </div>
		</div>		
</div>
</div>
</div>
{% endblock content %}