{% extends 'webapp/base.html' %} {% load inplace_edit %} {% load staticfiles %} {% block header %} {% inplace_toolbar %}
{% endblock header %}

{% block content %}
<div class="dealers">
<div class="container">
	<h3>{% inplace_edit "dpartners.titel" %}</h3>
	<div class="dealer-top">
			<div class="deal-top-top">
			{% for partner in partner_list %}
				<div class="col-md-3 top-deal-top">
					<div class="top-deal">
						<span class="inplaceedit textinplaceedit"><inplaceeditform obj_id="2" can_auto_save="1" app_label="webapp" module_name="partner" field_name="foto_url"></inplaceeditform><a href="" class="mask"><img src="{{ partner.foto_url }}" class="img-responsive zoom-img" alt=""></a></span>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="">{% inplace_edit "partner.naam" %}</a></h5>
								<p>{% inplace_edit "partner.onderschrift" %}</p>
							</div>
							<div class="top-deal2">
								<a href="" class="hvr-sweep-to-right more">Meer</a>
							</div>
						<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				{% endfor %}
				{% for group in user.groups.all %}
    			{% if group.name == 'makelaars' %}
				<div class="col-md-3 top-deal-top">
					<div class="top-deal">
					<a href="/partnersform" class="mask"><img src="{% static 'webapp/images/plus.png' %}" class="img-responsive zoom-img" alt=""></a>
						<div class="deal-bottom">
							<div class="top-deal1">
								<h5><a href="/partnersform">Voeg partner toe</a></h5>
								<p>partner onderschrift</p>
							</div>
							<div class="top-deal2">
								<a href="/partnersform" class="hvr-sweep-to-right more">Meer</a>
							</div>
						<div class="clearfix"> </div>
						</div>
					</div>
				</div>
					{% endif %}
				{% endfor %}
			<div class="clearfix"> </div>
		</div>
</div>
</div>
</div>
{% endblock content %}
