{% extends 'webapp/base.html' %}
{% load staticfiles %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="disclaimer">
<h3>Privacybeleid</h3>
<p>Via Sofie hecht veel belang aan het beschermen van de privacy van de bezoekers van haar website.
Ons privacybeleid is van toepassing op de diensten geleverd door Via Sofie.</p>
<p>We zijn echter niet verantwoordelijk voor het privacybeleid van andere sites en bronnen.</p>
<p>We zijn er van bewust dat u vertrouwen stelt in ons en zien het dan ook als onze verantwoordelijkheid om uw privacy te beschermen.</p> 
<p>Door gebruik te maken van deze website geeft u aan het privacybeleid te accepteren.<hr></p>
<p>Wanneer u zich aanmeldt voor één van onze diensten, zoals een nieuwsbrief, e-book of klantenaccount vragen we u om persoonsgegevens te verstrekken. Deze gegevens worden gebruikt om de dienst uit te kunnen voeren. Uw gegevens worden ook gebruikt om u op de hoogte te houden van onze activiteiten. 
De informatie wordt niet met derden gedeeld.</p> 
<p>Onze werknemers zijn verplicht om de vertrouwelijkheid van uw gegevens te respecteren.<hr></p>

<p>We controleren regelmatig of we aan dit privacybeleid voldoen.</p> 
<p>Als u vragen heeft over dit privacybeleid, kunt u contact met ons opnemen:</p>
<p>Via Sofie, Mussenhoevelaan 101, 2530 Boechout, telefoonnummer: 0483/71.37.10, e-mailadres: <a href="mailto:info@viasofie.be">info@viasofie.be</a>.<hr></p>

<p>Als u uw gegevens aan wilt passen of uzelf uit onze bestanden wilt laten halen, kunt u contact met ons op nemen.</p>
</div>
{% endblock content %}