{% extends 'webapp/base.html' %} {% load inplace_edit %} {% load staticfiles %} {% block header %} {% inplace_toolbar %}

<link rel="stylesheet" href="{% static 'webapp/css/referenties.css' %}" type="text/css" media="screen" />

{% endblock header %}

{% block content %}
<div class="ref-body">
    <ul class="cards">

    <li class="cards__item">
        <div class="card">
        <img class="sold-card image-responsive" src="{% static 'webapp/images/verkocht.png' %}" alt="">
        <div class="card__image" style="background-image: url(https://unsplash.it/800/600?image=59);"></div>
        <div class="card__content">
            <div class="card__title">Roskamstraat 7 - 2360 Oud-Turnhout</div>
            <p class="card__text">Opbrengsteigendom bestaande uit 3 appartementen met telkens 3 slaapkamers. Het gelijkvloerse appartement beschikt over een tuin en carport.</p>
            <!--<button class="btn btn--block card__btn">Button</button>-->
        </div>
        </div>
    </li>

    <li class="cards__item">
        <div class="card">
        <img class="sold-card image-responsive" src="{% static 'webapp/images/verkocht.png' %}" alt="">
        <div class="card__image" style="background-image: url(https://unsplash.it/800/600?image=11);"></div>
        <div class="card__content">
            <div class="card__title">Roskamstraat 7 - 2360 Oud-Turnhout</div>
            <p class="card__text">Opbrengsteigendom bestaande uit 3 appartementen met telkens 3 slaapkamers. Het gelijkvloerse appartement beschikt over een tuin en carport.</p>
            <!--<button class="btn btn--block card__btn">Button</button>-->
        </div>
        </div>
    </li>

    <li class="cards__item">
        <div class="card">
        <img class="sold-card image-responsive" src="{% static 'webapp/images/verkocht.png' %}" alt="">
        <div class="card__image" style="background-image: url(https://unsplash.it/800/600?image=39);"></div>
        <div class="card__content">
            <div class="card__title">Roskamstraat 7 - 2360 Oud-Turnhout</div>
            <p class="card__text">Opbrengsteigendom bestaande uit 3 appartementen met telkens 3 slaapkamers. Het gelijkvloerse appartement beschikt over een tuin en carport.</p>
            <!--<button class="btn btn--block card__btn">Button</button>-->
        </div>
        </div>
    </li>

    <li class="cards__item">
        <div class="card">
        <img class="sold-card image-responsive" src="{% static 'webapp/images/verkocht.png' %}" alt="">
        <div class="card__image" style="background-image: url(https://unsplash.it/800/600?image=82);"></div>
        <div class="card__content">
            <div class="card__title">Roskamstraat 7 - 2360 Oud-Turnhout</div>
            <p class="card__text">Opbrengsteigendom bestaande uit 3 appartementen met telkens 3 slaapkamers. Het gelijkvloerse appartement beschikt over een tuin en carport.</p>
            <!--<button class="btn btn--block card__btn">Button</button>-->
        </div>
        </div>
    </li>
    
    </ul>
</div>
{% endblock content %}
