{% extends 'webapp/base.html' %}
{% load staticfiles %} 

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/forms.css' %}" />
{% endblock header %} 

{% block content %}
<div class="registration">
	<form method="post" action="">
        <h4>Registreren</h4> 
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        <input type="submit" value="Registreer" />
        <p><a href="/login">Login</a> - <a href="/resetpassword">Wachtwoord vergeten?</a></p>
    </form>
</div>
{% endblock content %}
