{% extends 'webapp/base.html' %}  {% load staticfiles %} {% block header %} 

<link rel="stylesheet" href="{% static 'webapp/css/samenwerken.css' %}" type="text/css" media="screen" />

<title>Samenwerken | Via Sofie</title>

	<!--meta data-->
	<meta name="description" content="Via Sofie kan het verschil maken! Ontdek de voordelen van Via Sofie.">
	<meta name="keywords" content="samenwerken, waarom, voordelen, commissie, nadelen, immo, immobilien, immobiliën, vastgoed, advies, vastgoedmakelaar, sofie, andriesen, via sofie, viasofie, mussenhoevenlaan, 2530, boechout, lint, kontich, antwerpen, te koop, te huur, wonen, huren, kopen, makelaar, huis, biv">
	<meta name="author" content="Sacha Van den Wyngaert">

{% endblock header %}

{% block content %}

<section id="samenwerken">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Samenwerken</h2>
                  <h3 class="section-subheading text-muted">De verkoop – ik help u graag verder!</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <ul class="timeline">

                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{% static 'webapp/images/samenwerken/rsz_6.jpg' %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Waardebepaling en advies</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">
                                    Je wenst een pand te verkopen, geef me gerust een seintje. Ik kom langs en ga aan de slag voor de opmaak van een waardebepaling.
                                    Dit aan de hand van vaste parameters en een uitgebreide databank met eigen vergelijkingspunten.
                                    <br>
                                    De eerste kennismaking is vrijblijvend en verplicht je tot niets!
                                  </p>
                              </div>
                          </div>
                      </li>

                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{% static 'webapp/images/samenwerken/rsz_12.jpg' %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Samenwerken!</h4>
                                  <h4 class="subheading">Samenstelling verkoopdossier</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">De nodige documenten worden opgevraagd met het oog op de start van de verkoop:
                                    <br>
                                    - eigendomsakte<br>
                                    - bodemattest<br>
                                    - kadastrale informatie<br>
                                    - elektrische keuring<br>
                                    - EPC of EPB<br>
                                    - bouwplannen<br>
                                    - statuten-basisakte bij verkoop van een appartement<br>
                                    - stedenbouwkundige inlichtingen<br>
                                    - keuringen en attesten<br>
                                    - enz.
                                  </p>
                              </div>
                          </div>
                      </li>

                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{% static 'webapp/images/samenwerken/rsz_14.jpg' %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Foto’s</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">
                                    Jouw eigendom wordt  professioneel in beeld gebracht.
                                  </p>
                              </div>
                          </div>
                      </li>

                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{% static 'webapp/images/samenwerken/rsz_16.jpg' %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Publicatie</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">
                                    Publicatie  op de website van Via Sofie : www.viasofie.be.
                                    <br>
                                    In overleg plaatsen wij de een bord ‘te koop’ aan het te verkopen pand.
                                    <br>
                                    Er wordt gezorgd voor publicatie op immo-sites en magazines en of/kranten alsook publicatie via sociale media.
                                    Informatie m.b.t. de verkoop van jouw pand wordt bezorgd aan contacten in eigen opgebouwd klantenbestand.
                                  </p>
                              </div>
                          </div>
                      </li>

                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{% static 'webapp/images/samenwerken/rsz_17.jpg' %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>De verkoop</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">
                                    Alle bezichtigingen worden in samenspraak ingepland.
                                    <br>
                                    Via Sofie begeleidt de bezoekers bij de bezichtiging van jouw pand en voert de onderhandelingen. Bij vragen stellen wij alles in het werk om de potentiële kopers hierbij te helpen.
                                  </p>
                              </div>
                          </div>
                      </li>

                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{% static 'webapp/images/samenwerken/rsz_K4C3798-bewerkt.jpg' %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Eigen klantenzone</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">
                                    Via Sofie draagt de communicatie met de klant hoog in het vaandel. Via een eigen klantenaccount hebt u 24u/24u zicht op alle ondernomen acties m.b.t de verkoop van uw eigendom. Daarnaast is er een regelmatige briefing over het verloop van de verkoop.
                                    Uiteraard kan je me steeds contacteren mocht je vragen hebben.
                                  </p>
                              </div>
                          </div>
                      </li>

                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{% static 'webapp/images/samenwerken/rsz_6.jpg' %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Jouw pand is verkocht</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">
                                    Opmaak van het compromis. Je wordt uitgenodigd om deze te komen ondertekenen samen met de koper (s). Daarna neemt de notaris van jouw keuze het over voor de opmaak van de authentieke akte.
                                  </p>
                              </div>
                          </div>
                      </li>

                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{% static 'webapp/images/samenwerken/rsz_14.jpg' %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Tot slot nog dit…</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">
                                    Wist je dat je bij een geslaagde verkoop ook een goed doel ondersteunt? Een deel van de commissie gaat immers naar organisaties die zich inzetten voor een goed doel.
                                    <br>
                                    Via Sofie zet zich o.m. in voor Moeders voor Moeders en Ondernemers zonder grenzen. Steun je liever iets anders, laat het me weten!
                                    <br>
                                    Alvast bedankt voor jouw bijdrage!
                                  </p>
                              </div>
                          </div>
                      </li>

                      <li>
                        <a href="/contact">
                          <div class="timeline-image">
                              <h4>Werk
                                  <br>samen met
                                  <br>Via Sofie!</h4>
                          </div>
                        </a>
                      </li>

                  </ul>
              </div>
          </div>
      </div>
  </section>

{% endblock content %}
