<!Doctype html>
<head>
	   <!--- Basic Page Needs
   ================================================== -->
	<meta charset="utf-8">
	<title>ViaSofie</title>
	<meta name="description" content="Developer">
	<meta name="author" content="Sacha">


	<!-- CSS
    ================================================== -->
	<link href='https://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
   	<link rel="stylesheet" href="assets/css/style.css">


   <!-- Script
   ================================================== -->


   <!-- Favicons
	================================================== -->
	<link rel='shortcut icon' type='image/x-icon' href='assets/images/favicon.jpg' />

</head>
<body>
	<h1 class="uppercase">The quick brown fox jumps over the lazy dog - h1</h1>
	<h1>The quick brown fox jumps over the lazy dog - h1</h1>
	<h2>The quick brown fox jumps over the lazy dog - h2</h2>
	<h3>The quick brown fox jumps over the lazy dog - h3</h3>
	<h4>The quick brown fox jumps over the lazy dog - h4</h4>
	<h5>The quick brown fox jumps over the lazy dog - h5</h5>
	<h6>The quick brown fox jumps over the lazy dog - h6</h6>

	<p class="uppercase">The quick brown fox jumps over the lazy dog -  uppercase</p>
	<p class="lowercase">The quick brown fox jumps over the lazy dog -  lowercase</p>
	<p class="capitalize">The quick brown fox jumps over the lazy dog -  capitalize</p>
	<p class="small-lh">
		The quick brown fox jumps over the lazy dog <br>
		The quick brown fox jumps over the lazy dog -  small-lh
	</p>
	<p class="big-lh">
		The quick brown fox jumps over the lazy dog <br>
		The quick brown fox jumps over the lazy dog -  big-lh
	</p>
	<p class="nowrap">
		The quick brown fox jumps over the lazy dog
		The quick brown fox jumps over the lazy dog
		The quick brown fox jumps over the lazy dog
		The quick brown fox jumps over the lazy dog - nowrap
	</p>
	<p>The quick brown <img src="https://drawception.com/pub/panels/2012/4-8/rMyjbZs1yL-4.png" width="270" height="50"> jumps over the lazy dog - default alignment</p>
	<p>The quick brown <img class="top" src="https://drawception.com/pub/panels/2012/4-8/rMyjbZs1yL-4.png" width="270" height="50"> jumps over the lazy dog - top alignment</p>
	<p>The quick brown <img class="bottom" src="https://drawception.com/pub/panels/2012/4-8/rMyjbZs1yL-4.png" width="270" height="50">jumps over the lazy dog - bottom alignment</p>

	<a href="">This is a link</a>

	<ul>
  		<li>The quick brown fox jumps over the lazy dog</li>
  		<li>The quick brown fox jumps over the lazy dog</li>
  		<li>The quick brown fox jumps over the lazy dog</li>
	</ul>
</body>