{% load staticfiles %}
<nav id="submenu" class="navbar navbar-default" data-spy="affix" data-offset="100">
    <div class="container-fluid submenu">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-nav-submenu">
                <li><a href="#">Kopen</a></li>
                <li><a href="#">Huren</a></li>
                <li><a href="#">Advies</a></li>
                <li><a href="#">Referenties</a></li>
            </ul>
        </div>
    </div>
</nav>
