.account h3:after, .account h3:before {
    width: 200px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #000;
    margin: 0 1%;
}

.account h3 {
    font-size: 3em;
    color: #000;
    font-family: 'Ropa Sans', sans-serif;
    text-align: center;
    margin: 10px 0 15px 0;
}

.account input {

}

.account {
    padding: 20px 0;
}

#accountform {
    margin: 50px;
}

.tabs-account {
    margin: 0 50px 50px 50px;
}

.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }

.container-fluid {
    max-width: 80%;
}

.account p {
    padding-bottom: 10px;
    text-align: center;
}

hr {
    border-top: 0px;
}


.panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "+"; /* "play" icon */
        float: right;
        color: #eac8c6;
        font-size: 20px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #0d3532;
    }