.contact-top1 h4 {
    margin: 0px;
}

.contact-top {
    padding-top: 0px;
}

.contact {
    padding: 30px 0;
}

.contact h3 {
    margin: 10px 0 15px 0;
}

hr {
    border-top: 0px;
}

ul {
    list-style: circle;
    padding-left: 15px;
}

.panel-body a {
    color: #333;
}

a {
    font-weight: bold;
}