#gallery{
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;
  
  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
@media (max-width:1200px){
  #gallery{
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;
    
  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
}
@media (max-width:800px){
  #gallery{
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
    
  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
}
@media (max-width:600px){
  #gallery{
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;
}  
}
.card{
  width:100%;
  height:auto;
  margin: 4% auto;
  box-shadow:-3px 5px 15px #000;
  cursor: pointer;
}
.modal-img,.model-vid{
  width:100%;
  height:auto;
}
.gallery-modal-body{
  padding:0px;
}
#gallery .gallery-modal-content{
    width: auto;
    height: auto;
}
#myModal {
    padding-right: 0px;
}

.modal, .fade {
    width: 100%;
}

.modal-dialog {
    top: 31.48%;
    position: absolute;
    left: 34.375%;
    right: 34.375%;
    bottom: 31.48%;
}