.tiles {
  width: 1040px;
  font-size: 0;
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 15%;
  margin-bottom: -15%;
}
.tiles .tile {
  display: inline-block;
  margin: 10px;
  text-align: left;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}
.tiles .tile:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.tiles .tile img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.tiles .tile .details {
  font-size: 16px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.tiles .tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.tiles .tile .details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}
.tiles .tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.tiles .tile:focus:before,
.tiles .tile:focus span, .tiles .tile:hover:before,
.tiles .tile:hover span {
  opacity: 1;
}
.tiles .tile:focus:before, .tiles .tile:hover:before {
  top: 50%;
}
.tiles .tile:focus span, .tiles .tile:hover span {
  top: 0;
}
.tiles .tile:focus .title, .tiles .tile:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.tiles .tile:focus .info, .tiles .tile:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

@media (max-width:1200px){
  .tiles {
    display: none;
  }
  #long-service-top h3:after, #long-service-top h3:before {
    width: auto;
  }
}
@media (max-width:800px){
  .tiles {
    display: none;
  }
  #long-service-top h3:after, #long-service-top h3:before {
    width: auto;
  }
}
@media (max-width:600px){
  .tiles {
    display: none;
  }
  #long-service-top h3:after, #long-service-top h3:before {
    width: auto;
  }
}
@media (max-width: 480px) {
  .content-grid {
    padding-bottom: 75 !important;
  }
  #long-service-top h3:after, #long-service-top h3:before {
    width: auto;
  }

  .medium {
    font-size: 16px;
  }
}

/****************/
/*	 BX-SLIDER 	*/
/****************/
section.client {
	padding:4em 0em;
	/*background-color: #eee;*/

}
section.client .section-title {
	margin-bottom: 6em;
}
.bx-controls {
	position: relative;
}
.bx-wrapper .bx-pager {
    text-align: center;
    padding-top: 30px;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.carousel-client .slide img{
  width: 50%;
}

/*BOLLEN*/

.set-same-height {
      margin-right: 0px;
    margin-left: 0px;
}


.columns.four {
    width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
}

.padding {
    padding: 15px;
}

.columns {
    float: left;
}

.padding-top {
    padding-top: 35px;
}

.bg-white {
    background-color: #fff;
}

.text-center {
    text-align: center;
}

img.round {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    max-width: 100%;
    height: auto !important;
    vertical-align: middle;
    width: 142px;
    margin-bottom: 5%;
}

