/*
	#####################################################################################################################################################################
	carousel
	#####################################################################################################################################################################
*/

.fluid_container {
	margin: 0 auto;
	max-width: 1500px;
	width: 90%;

	a {
		color: #09f;
	}
	a:hover {
		text-decoration: none;
	}
}