/*
    All html elements can use these class selectors
*/

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.thick {
    font-weight: bold;
}


/*
    Body styling
*/

body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #e8e8e8;
    font-family: 'Ropa Sans', sans-serif;
    color: #121212;
    text-rendering: optimizeLegibility;
    margin: 0px;
    padding: 0px;
}

.background {
    background-color: #bad5ce;
}


/*
    Header styling
*/

h1 {
    font-size: 48px;
    line-height: 40px;
}

h2 {
    font-size: 36px;
    line-height: 40px;
}

h3 {
    font-size: 32px;
    line-height: 40px;
}

h4 {
    font-size: 26px;
    line-height: 20px;
}

h5 {
    font-size: 18px;
    line-height: 20px;
}

h6 {
    font-size: 14px;
    line-height: 20px;
}


/*
    Paragraph styling
*/

p.small-lh {
    line-height: 0.8;
}

p.big-lh {
    line-height: 1.8;
}

p.nowrap {
    white-space: nowrap;
}


/*
    Image styling
*/

img.top {
    vertical-align: text-top;
}

img.bottom {
    vertical-align: text-bottom;
}


/*
    Link styling
*/

a {
    font-weight: bold;
}


/* unvisited link */

a:link {
    text-decoration: none;
    color: #121212;
}


/* visited link */

a:visited {
    text-decoration: none;
    color: #121212;
}


/* mouse over link */

a:hover {
    text-shadow: 1px 1px #111d1a;
    text-decoration: underline;
    color: #65a191;
}


/* selected link */

a:active {
    text-decoration: none;
    color: blue;
}


/* Edit of bootstrap design */

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    background-color: #F6F6F6;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
